/* .main{
	display: grid;
	width: 100vw;	
	justify-items: center;
	align-items: center;
	background: #bd4324;
}

.form{
	display: grid;	
	grid-template-columns: 10vw 50vw 10vw;
	width: 80vw;
	height: 30vw;	
	align-items: center;
	justify-content: center;
	border: solid 1px rgb(201, 194, 194);
}

.input{
  font-family: sans-serif;
  grid-column-start: 2;
  margin: 2vw;
  width: 50vw;
  height: 2vw;
  border: none;
  border-bottom: solid 1px #8a0909;  
}

.btn{	
	grid-column-start: 2 ;	
	width: 30vw;
	height: 3vw; 
	color: rgb(14, 1, 1);
	background: #f19f34;
	border-radius: 7px;
	border: 0;	
}

.section-btn{
	grid-column-start: 2 ;
	display: grid;
	grid-template-columns: 10vw 10vw 10vw;	
} */

.mainRegister{
	height: 30rem;
	width: 20rem;
	display: grid;
	grid-template-columns: 1rem 18rem 1rem;	
	grid-template-rows: 1rem 16rem 1rem;	
}
.formRegister{
	display: grid;
	height: 26rem;
	grid-row-start: 2;
	grid-column-start: 2;
	grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem;
	justify-content: center;
	align-items: center;		
}
.inputHome, .sectionSelectHome{
	height: 2rem;
	width: 16rem;
	border: none;
	font-family: sans-serif;
	border-radius: 1rem;
}
.sectionSelectHome{
	display: grid;
	justify-content: center;
	align-items: center;	
}

.sectionSelectHome{
	justify-content: center;
}

.btnRegisterHome{
	border: none;
	width: 10rem;
	height: 2rem;
	border-radius: 1rem;	
}
.btnRegisterHome:hover{
	background: rgb(228, 222, 138);
	cursor: pointer;
	border: none;
}