.main{
	display: grid;
	width: 100vw;	
	justify-items: center;
	align-items: center;
	background: #bd4324;
}

.form{
	display: grid;	
	grid-template-columns: 10vw 50vw 10vw;
	width: 80vw;
	height: 30vw;	
	align-items: center;
	justify-content: center;
	border: solid 1px rgb(201, 194, 194);
}

.input{
  font-family: sans-serif;
  grid-column-start: 2;
  margin: 2vw;
  width: 50vw;
  height: 2vw;
  border: none;
  border-bottom: solid 1px #8a0909;  
}

.btn{	
	grid-column-start: 2 ;	
	width: 30vw;
	height: 3vw; 
	color: rgb(14, 1, 1);
	background: #f19f34;
	border-radius: 7px;
	border: 0;	
}

.section-btn{
	grid-column-start: 2 ;
	display: grid;
	grid-template-columns: 10vw 10vw 10vw;	
}