.mainHome{
	display: grid;	
	width: 100rem;	
	height: 100rem;
	grid-template-columns: 10rem 20rem 15rem 20rem;
	grid-auto-rows: 7rem 18rem 5rem 20rem 25rem;
	background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  
  background: linear-gradient(to right, #F0CB35, #C02425);
}

.sectionHomeLogin{
	grid-column-start: 2;
	grid-row-start: 2;
	display: grid;	
	justify-content: center;	
}

.sectionHomeRegister{
	display: grid;
	grid-row-start: 2;
	grid-column-start: 4;	
	justify-items: center;
	align-items: center;
}


