.main{
    height: 80vw;    
    display: grid;    
    justify-content: center;
    align-content: center;      
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  
    background: linear-gradient(to right, #F0CB35, #C02425); 
}

.container{
    display: grid;
    grid-template-columns: 10vw 25vw 10vw;
    width: 45vw;
    height: 30vw;         
    justify-content: center;
    align-content: center;
    border: 2px solid rgb(36, 8, 3); 
       
}
.title{ 
    width: 30vw;
    background: none; 
    grid-column-start: 2;
    align-items: center;
}

.direcionar{
    grid-column-start: 2;
    width: 25vw;
    height: 5vw;
    border-radius: 5px;
    border: 2px solid rgb(104, 22, 8);
    background: none;
    margin-top: 10px;
    color: rgb(250, 247, 246);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.direcionar:hover{
    background: rgb(240, 28, 28);
    color: #fff;
}