h1{
    width: 10vw;
    height: 2vw;
    background: blue;
    color: white;
}

.btn{
    background: blue;
}

.product-info{
    width: 200px;
    margin: 20px auto 0;   
    background: #fff;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;    
}

.product-info-Two{
    width: 300px;
    margin: 20px auto 0;   
    background: blue;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;    
}